@import "tailwindcss";


/* Define how the dark mode works when using the 'dark' class */
@custom-variant dark (&:where(.dark, .dark *));

/* @import "tailwindcss/preflight"; 
@tailwind utilities; */
/* @import "tailwindcss"; */




@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;             
  }

  /* DEFAULT (desktop) */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
  }

  

  /* SMALL DEVICES */
  @media (max-width: 768px) {
    ::-webkit-scrollbar {
      display: none;
    }

    * {
      scrollbar-width: none; /* Firefox */
    }
  }
}



  :root {
    --background: #ffffff;
    --text: #111111;
    --border: #e5e5e5;
    --post-border: #e5e5e5;
    --sidebar-bg: #fafafa;
    --header-bg:#ffffff;
    --main-bg: #fafafa;
    --hover: #f3f3f3;
    --placeholder: #6b7280;
  }


  
  .dark {
    --background: #0f172a;
    --text: #f1f5f9;
    --border: #1e293b;
    --post-border: #374151;
    --sidebar-bg: #020817;
    --main-bg: #020817;
    --header-bg: #020817;
    --card-primary: #5a627424;
    --primary: #5a627424;
    --hover: #1e293b;
    --placeholder: #94a3b8;
  }


  
  
  .recharts-wrapper:focus , .recharts-surface:focus {
    outline: none !important;
  }